# data
data/eterna/*.rna
data/rfam_learn_test/
data/rfam_learn_validation/
data/rfam_learn_train/
data/rfam_local_*/
data/rfam_processed/
data/rfam_interim/
data/test/
data/rfam_raw/
data/rfam_local_*.tar.gz
data/test_local_train/
data/rfam_learn_local_min_100_max_500_test/
data/rfam_learn_local_min_500_test/
data/eterna_local_test/
data/rfam_anta_sc*
data/rfam_taneda*


# thirdparty
thirdparty/antarna/src/
thirdparty/mcts/src/
thirdparty/eastman/src/
thirdparty/eastman/best_model/
thirdparty/eastman/solve_one_puzzle.py
thirdparty/miniconda/miniconda/
thirdparty/fanova/

# results
results/*

# analysis
analysis/*

# cluster
logs/

# plots
pgfplots*
plots*
other_plots*
other_pgf*

# misc
*__pycache__/
.pytest_cache/

# latex
reports/thesis/thesis_main.aux
reports/thesis/thesis_main.bbl
reports/thesis/thesis_main.blg
reports/thesis/thesis_main.fdb_latexmk
reports/thesis/thesis_main.fls
reports/thesis/thesis_main.loa
reports/thesis/thesis_main.lof
reports/thesis/thesis_main.log
reports/thesis/thesis_main.lot
reports/thesis/thesis_main.out
reports/thesis/thesis_main.pdf
reports/thesis/thesis_main.synctex.gz
reports/thesis/thesis_main.toc
reports/thesis/out/thesis_main.*
**/*.aux
**/*.auxlock
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pdf

#verification
verification/

#misc
thoughts.txt
